﻿.bg-success, .bg-info, .bg-warning {
    padding: 15px;
}

.input-validation-error{

}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
