﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    <!--[if lt IE 9]><div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>        <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice' /></a></div>        <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>            <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='Warning!' /></div>            <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>                <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>You are using an outdated browser</div>                <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>For a better experience using this site, please upgrade to a modern web browser.</div>            </div>            <div style='width: 65px; float: left; padding-top:10px;'><a href='http://www.firefox.com' target='_blank'>                <img src='@Url.Content("~/Content/modern-browsers/firefox50x50.jpg")' style='border: none;' alt='Get Firefox' title="Firefox" /></a></div>            <div style='width: 65px; float: left; padding-top:10px;'><a href='https://www.microsoft.com/en-us/download/details.aspx?id=48126' target='_blank'>                <img src='@Url.Content("~/Content/modern-browsers/edge50x50.jpg")' style='border: none;' alt='Get Edge' title="Edge" /></a></div>            <div style='width: 65px; float: left; padding-top:10px;'><a href='https://support.apple.com/downloads/safari' target='_blank'>                <img src='@Url.Content("~/Content/modern-browsers/safari50x50.jpg")' style='border: none;' alt='Get Safari' title="Safari" /></a></div>            <div style='width: 65px; float: left; padding-top:10px;'><a href='https://www.google.com/chrome/browser/desktop/index.html' target='_blank'>                <img src='@Url.Content("~/Content/modern-browsers/chrome50x50.jpg")' style='border: none;' alt='Get Google Chrome' title="Chrome" /></a></div>        </div>    </div><![endif]-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sergio Rosas</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
