﻿@model DateDiffDays.Models.DateControllerModel

@{
    ViewBag.Title = "Index";
}

<h2>How many days are between...</h2>
@if (!ViewData.ModelState.IsValidField("UnknownError"))
{
    //TODO: Localization
    <p class="bg-warning">Oops! It seems your request couldn't be processed. Please try again</p>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal date-diff" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group @(ViewData.ModelState.IsValidField("StartDate") ? "" : "has-error")">
        @Html.LabelFor(model => model.StartDate, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.StartDate, new { @type = "date", @required = "", @class = "form-control", @placeholder = "Enter a start date", @title = "Enter a start date" })
            @if (!ViewData.ModelState.IsValid)
            {
                @Html.ValidationMessage("StartDate", new { @class = "label label-warning" })
            }
        </div>
    </div>
    <div class="form-group @(ViewData.ModelState.IsValidField("EndDate") ? "" : "has-error")">
        @Html.LabelFor(model => model.EndDate, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.EndDate, new { @type = "date", @required = "", @class = "form-control", @placeholder = "Enter an end date", @title = "Enter an end date" })
            @if (!ViewData.ModelState.IsValid)
            {
                @Html.ValidationMessage("EndDate", new { @class = "label label-warning" })
            }
        </div>
    </div>
    if (Model != null && Model.DifferenceInDays.HasValue)
    {
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <p class="bg-success">There are <b>@Model.DifferenceInDays</b> days between these two dates</p>
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-default">Calculate</button>
        </div>
    </div>
}



@section scripts
{
    <script type="text/javascript">
        (function () {
            // For those cases where Modernizr.inputtypes returns true but still input[type=date]
            // is not supported (IE in Windows phone, for example). For those cases, setting the
            // type to date will return instead text as type
            var i = document.createElement("input");
            i.setAttribute("type", "date");

            if (!(Modernizr.inputtypes && i.type !== "text")) {
                // When not supported, use a custom datepicker from jQuery.UI
                // Use dateFormat "yy-mm-dd", ISO8601, as default, to avoid problems with locales
                $("input[type=date]").datepicker({ dateFormat: "yy-mm-dd" }).attr('readonly', 'readonly');
            }
        })();
    </script>
}
